<!--<p>Welcome to the {{title}}</p>-->
<div class="welcome-page">
  <div class="welcome-container">
    <h1>Welcome to the Totoro chat</h1>

    <div class="buttons-choice">
      <button class="public-chat"><a href="/public-chat">Public chat</a></button>
      <button class="private-chat">Private chat</button>
    </div>
  </div>
</div>
