<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>Birdy chat</header>
    {{{body}}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var serverSocket = io();

      $('form').submit(function(){
        serverSocket.emit('chat message from client', $('#m').val());
        $('#m').val('');
        return false;
      });
      serverSocket.on('user welcome', function(welcomeMessage){
        $('#messages').append($('<li>').text(welcomeMessage));
      });
      serverSocket.on('chat message from server', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
    </script>
  </body>
</html>
